@font-face { font-family: Prime; src: url('PRIME.OTF'); }

body {
	background-image: url('bg1.jpg');
	background-size: cover;
}
form {
	font-family: Georgia;
	font-size: 10pt;
}

#loginbox {
	margin: 0 auto;
	width: 360px;
	height: auto;
	border-radius: 5px;
	padding: 0;
	background: white;
}


#lgn {
	padding: 0px 30px 0px 30px;
}

#img_banner {
	height: 10%;
}

#exp {
	text-align: center;
	width: 100%;
	background: #E64C3C;
	padding-top: 10px;
	padding-bottom: 10px;
	color: black;
	font-family: Georgia;
	font-size: 10pt;
	float: top;
}

#registerbox {
	margin: 0 auto;
	width: 690px;
	height: auto;
	border-radius: 5px;
	padding: 0;
	background: white;
}

.reg_col {
	margin: 0 auto;
	width: 320px;
	height: auto;
	border-radius: 5px;
	padding: 5px;
	background: white;
	float: left;
}

#rt {
	border-radius: 4px 4px 0px 0px;
	text-align: center;
	width: 100%;
	background: #003565;
	color: white;
	padding-top: 30px;
	padding-bottom: 20px;
	margin: 0;
	font-family: Georgia;
	font-size: 20pt;
	float: top;
}
#a {
	height: 93%;
}

.h {
	float: right;
	font-size: 10pt;
}

#lm {
	font-size: 10pt;
	padding: 1%;
	margin: 0px;
	padding-right: 5px;
}

#bar {
	width: 100%;
	height: 10%;
	background: #7E7E7E;
	margin: 0px;
	margin-top: 1px;
	padding: 0px;
}

a {
	text-decoration: none;
}

.headerbar {
	height: 10%;
	padding: 0px;
	background: #grey;
	font-family: Prime;
	font-size: 72px;
	font-weight: bold;
	color: white;
	text-decoration: none;

}

.headerbar:hover {
	cursor: pointer;
}

#contentbox {
	margin: 0 auto;
	height:85%;
	width: 1400px;
	border-radius: 5px;
	padding: 0;
	margin-top: 20px;
	background: white;
}

.navbar {
	float: left;
	height: 100%;
	width: 15%;
	border-right: 2pt solid #003565;
	padding: 10px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.r_pw {
	width: 280px;
	height: auto;
	margin-left: 5px;
	padding: 5px;
	border: 1px solid black;
	border-radius: 5px;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-right: 5px;
}

.check {
	font-size: 8pt;
	padding: 0;
	margin: 0;
	color: black;
}

#wee {
	display: none;
}

#e_tk {
	display: none;
	padding: 0;
	margin: 0;
	font-size: 8pt;
	color: red;
}

.check:hover {
	color: #7E7E7E;
	cursor: pointer;
}

#usnm {
	padding: 0;
	margin: 0;
	font-size: 8pt;
	color: red;
}

#cap_pw {
	padding: 0;
	margin: 0;
	font-size: 8pt;
	color: red;
}

#e_fmt {
	padding: 0;
	margin: 0;
	font-size: 8pt;
	color: red;
}

#regf {
	padding-left: 10px;
	height: 50%;
}

#num_pw {
	padding: 0;
	margin: 0;
	font-size: 8pt;
	color: red;
}

#apn_pw {
	padding: 0;
	margin: 0;
	font-size: 8pt;
	color: red;
}
#pwdm {
	padding: 0;
	margin: 0;
	font-size: 8pt;
	color: red;
}

#chr_pw {
	padding: 0;
	margin: 0;
	font-size: 8pt;
	color: red;
}

input[type=submit] {
	border: 1px solid black;
	border-radius: 3px;
	padding: 2px;
	padding-left: 4px;
	padding-right: 4px;
	text-align: right;
	font-weight: bold;
	background-color: white;
	float: right;
}

.sub2 {
	border: 2px solid #c9c9c9;
	border-radius: 3px;
	padding: 2px;
	padding-left: 4px;
	padding-right: 4px;
	text-align: right;
	font-weight: bold;
	background-color: white;
	float: right;
	color: #c9c9c9;
	margin-right: 30px;
	font-family: Georgia;
	font-weight: bold;
}

input[type=submit]:hover {
	cursor: pointer;
	color: #7E7E7E;
	border: 1px solid #7E7E7E;
}

.sub2:hover {
	cursor: pointer;
	color: #969696;
	border: 2px solid #969696;
}

input[type=text], input[type=number], input[type=password], input[type=tel] {
	padding: 10px 10px 5px 5px;
	border: none;
	border-bottom: solid 2px #c9c9c9;
	transition: border 0.3s;
	width: 300px;
	font-family: Georgia;
}

input[type=checkbox]{
	margin-top: 10px;
}

input[type=text]:focus, input[type=number]:focus, input[type=password]:focus, input[type=tel]:focus{
  border-bottom: solid 2px #969696;
}
input[type=text]:hover, input[type=number]:hover, input[type=password]:hover, input[type=tel]:hover{
  border-bottom: solid 2px #969696;
}

.pa {
	font-size: 8pt;
}

nav {
	width: 100%;
	background: #003565;
	font-family: georgia;
	border-radius: 5px 5px 0px 0px;
	color: white;
	font-size: 12pt;
	padding-top: 1%;
	padding-bottom: 1%;
}

nav > a {
	padding: 50px;
	padding-top: 1%;
	padding-bottom: 1%;
}

#ss{
	border-radius: 0px 5px 0px 0px;
	padding: 20px;
	padding-top: 1%;
	padding-bottom: 1%;
	float:right;
	margin-top: -1%;
}

#sa{
	border-radius: 5px 0px 0px 0px;
}

nav > a:hover {
	background: #0054A0;
}

nav > a:active {
	background: #0054A0;
}

#errors {
	width: 290px;
	height: auto;
	border: 1px solid red;
	background: #FFB3B3;
	font-family: Arial;
	font-size: 10pt;
	padding: 5px;
	border-radius: 5px;
}

ul {
	margin:0;
}

#checkin {
	border-radius: 5px;
	border: none;
	background: #34BE34;
	font-family: georgia;
	width: 200px;
	padding: 20px;
	margin-left: 50px;
	margin-top: 20px;
}

#checkin:hover {
	background: #54D054;
	cursor: pointer;
}

#side {
	width: 300px;
	height: 85%;
	float: left;
	padding: 20px;
	border-right: 1px solid #003565;
}

ul li:hover {
	cursor: pointer;
	color: #7E7E7E;
}

@keyframes shake {
    0%   {left: 0px}
	15% {left: 50px}
	30% {left: 0px}
	45% {left: -50px}
	70% {left: 0px}
	85% {left: 50px}
	100% {left: 0px}
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
